body{
    width: 1300px;
height: 708px;
top: 3418px;
left: 12272px;
gap: 0px;
opacity: 0px;

}
.container{
    width: 625px;
height: 178px;
top: 3534px;
left: 12425px;
gap: 0px;
opacity: 0px;
padding-left:35px;

}
.header{
    width: 625px;
height: 124px;
top: 3588px;
left: 12300px;
gap: 0px;
opacity: 0px;
font-style: 'Poppins';
font-size: 52px;
font-weight: 600;
line-height: 62px;
letter-spacing: -2px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #090914;

}
.supporting-text{
    width: 177px;
height: 28px;
top: 3534px;
left: 12300px;
gap: 0px;
opacity: 0px;
//styleName: Bold/16px;
font-style: 'Poppins';
font-size: 16px;
font-weight: 600;
line-height: 28px;
letter-spacing: -0.20000000298023224px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #2563EB;
padding top: 25px;

}
.list{
    width: 611px;
height: 84px;
top: 3917px;
left: 12425px;
gap: 0px;
opacity: 0px;
padding-left: 25px;

}
.text{
    width: 229px;
height: 84px;
top: 3917px;
left: 12472px;
gap: 0px;
opacity: 0px;
//styleName: Semi-bold/18px;
font-style: 'Poppins';
font-size: 18px;
font-weight: 500;
line-height: 28px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #090914;

}
.image{
    
background-image: url("1.png");

padding-left: 50px;
width: 640px;
height: 454px;
top: 3547px;
left: 13226px;
gap: 0px;
opacity: 0px;

}